/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222222;
  text-align: center;
  color: whitesmoke;
}

header {
  background: #35424a;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #35424a;
  color: #ffffff;
  position: relative;
  width: 100%;
  bottom: 0;
}
