:root {
  --bg: #f8f2e8;
  --text: #333333;
}

* {
  background-color: var(--bg);
  color: var(--text);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  padding: 10px 0;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px 0;
  /* background: #35424a; */
  position: relative;
  width: 100%;
  bottom: 0;
}
