/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #35424a;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

nav {
  margin: 20px 0;
}

nav a {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #f4f4f4;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #35424a;
  color: #ffffff;
  position: relative;
  width: 100%;
  bottom: 0;
}
