* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out; /* Adds a smooth hover effect */
  overscroll-behavior: none;
}

:root {
  --background: #f8f2e8;
  --red: #70161e;
  --green: #4d5e19;
  --blue: #043f63;
  --gray: #464646;
  --text: #222222;
  --postbg: #fff;
  --borderfg: rgb(218, 220, 224);
  --borderrad: 8px;
  --logo-height: 40px;
}

header {
  background-color: var(--background);
  border-bottom: 1px solid var(--borderfg);
  border-bottom-right-radius: var(--borderrad);
  border-bottom-left-radius: var(--borderrad);
  position: sticky;
  top: 0;
  z-index: 50;
}

.btn {
  cursor: pointer;
}

#header-content {
  margin: 0 auto;
  padding: 0px 0px;
  max-width: 500px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#help-btn,
#signin-btn {
  padding: 10px;
  border: none;
  background-color: var(--background);
  color: var(--text);
  height: calc(var(--logo-height) + 10px); /* 10px top + 10px bottom padding */
  display: flex;
  align-items: center;
  justify-content: center;
}

#help-btn img,
#signin-btn img {
  max-height: calc(var(--logo-height) + 20px);
  width: auto;
  height: 80%;
}

#header-icon {
  margin: 0;
  width: auto;
  max-width: 85vw;
}

body {
  scrollbar-width: none;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  background-color: var(--background);
}

body::-webkit-scrollbar {
  display: none;
}

#body-content {
  padding: 20px 0;
}

#center-container {
  padding: 0px 15px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#inputs-container {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
#inputs-container > * {
  font-size: 14px;
  border-radius: var(--borderrad);
  padding: 10px;
}

#inputs-container input {
  flex-grow: 8;
  background-color: white;
  border: 1px solid var(--borderfg);
}

#inputs-container button:hover {
  background-color: var(--text);
}

#inputs-container button {
  flex-grow: 2;
  color: white;
  border: 1px solid var(--borderfg);
  font-weight: bold;

  background: linear-gradient(to right, var(--blue), var(--green), var(--red));
  background-size: 300% 100%;
  animation: shimmer 4s infinite ease-in-out alternate;

  transition: transform 0.1s ease-in-out;
}

#inputs-container button:hover,
#inputs-container button:active {
  animation:
    shimmer 4s infinite ease-in-out alternate,
    bounceJiggle 0.5s infinite alternate;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes bounceJiggle {
  0% {
    transform: rotate(-1deg) scale(1) translateY(0);
  }
  50% {
    transform: rotate(1deg) scale(1.05) translateY(-5px);
  }
  100% {
    transform: rotate(-1deg) scale(1) translateY(0);
  }
}

#post-list {
  display: flex;
  flex-direction: column;
}

.post {
  margin-bottom: 15px;
  border: 1px solid var(--borderfg);
  background-color: var(--postbg);
  border-radius: var(--borderrad);
  padding: 20px 25px;
}

#post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 13px;
  color: var(--gray);
}

#post-btns {
  margin-top: 20px;
  display: grid;
  max-width: 500px;
  grid-template-columns: 1fr 1fr 1fr; /* This creates three equal-sized columns */
  gap: 70px;
}
.post-btn {
  border: 1px solid var(--borderfg);
  background-color: var(--postbg);
  border-radius: var(--borderrad);
  padding: 8px 0px;
  font-size: 21px;
  /* margin-bottom: 20px; */
}
.post-btn.active {
  /* background-color: var(--gray); */
  transform: scale(0.98); /* Example: slightly shrink the button on click */
  border: 1px solid red;
  /* background-color: var(--text); /* A different color for the press */
}
.post-btn.agreed-button {
  color: #28a745; /* Green */
}
.post-btn.interested-button {
  color: orange;
}
.post-btn.disagreed-button {
  color: #dc3545; /* Red */
}

footer {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
  text-align: center;
  background-color: var(--background);
  margin-bottom: 40px;
}

#google-sign-in-btn,
#close-sign-in-btn {
  padding: 10px;
  background-color: #fff;
  border-radius: var(--borderrad);
  border: 1px solid var(--borderfg);
  box-shadow: none;
}
.post-btn:hover,
#google-sign-in-btn:hover,
#close-sign-in-btn:hover {
  cursor: pointer;
  background-color: var(--borderfg);
  background-color: #e9e9e9;
}
